doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title IoT Kegerator: Kegiot

    link(rel='stylesheet', type='text/css', href='styles/styles.css')

    script.
      if ('registerElement' in document
        && 'createShadowRoot' in HTMLElement.prototype
        && 'import' in document.createElement('link')
        && 'content' in document.createElement('template')) {
        // We're using a browser with native WC support!
      } else {
        document.write('<script src="x-gif/dist/platform.js"><\/script>')
      }

  body
    article
      section
        .fullscreen(ui-fx="blur1")
          x-gif(src="images/beer_pour.gif" fill stopped)
        #introtip
        .content#intro
          div.box.darken
            h2
              small KegIoT
            .mid the
            h3
              small DIY IoT Kegerator
            .mid by
            .line
              h4 Adam Eivy <span class="rotate">\[._.]/</span>
                .me.center

      section.fullscreen.oldmath
        .content
          .box
            h2 What
            ul
              li Smart IoT Beverage Dispenser
              li Custom Software
              li Mix of BBB and Custom HW
              li Modified Fridge
              li All DIY

      section
        .fullscreen(ui-fx="blur2")
          x-gif(src="images/thinking_fred.gif" fill stopped ping-pong n-times="3")
        .content
          .box
            h2 Timeline
            ul
              li Oct 2014: Idea
              li June 2015: Let's do this!

      section
        .fullscreen
        .content
          h3 The Team
          img.fillh.solo(src="images/team.jpg")

      section.fullscreen
        .content
          img(src="images/step1.jpg")


      section.fullscreen
        .content
          img(src="images/process_assembly.jpg")


      section.fullscreen
        .content
          img(src="images/process_rfidcards.jpg")

      section.fullscreen.xv.organic
        .content
          .box
            h2 Investment
            ul
              li ~30 hours together
              li ~90 individual person hours
              li Worked lunch, nights and 1 whole day (my garage)
              li ~$450 for all hardware including fridge

      section
        .fullscreen
          img.fillh(src="images/usecases.jpg")

      section.fullscreen
        img.fillh(src="images/kegiot_hla.svg")

      section
        .fullscreen.fullscreen.gplay
        .content
          .box.darken
            h2 The Basics
            ul
              li Danby Mini Fridge (Costco)
              li CO2 Tank, 5 Lbs
              li Corny Key, 5 Gal

      section
        .fullscreen
        .content
          h2 Rate Limiting
          ul
            li BeagleBone Black, RevC
            li RFID Reader/Module, 125 KHz
            li Flow Meter
            li Solenoid / Ball Valve

      section
        .fullscreen
          img.fillh(src="images/bbb.jpg")
        .content
          h2 Beagle Bone Black
          ul
            li.alert.alert-info Debian Linux
            li.alert.alert-success Node.JS

      section.fullscreen
        .content
          img.fillh(src="images/rfid.jpg")

      section
        .fullscreen
        .content
          h4 User Flow
          img.filh(src="images/kegiot_flow.png",height="100%")

      section
        .fullscreen
        .content
          h2 Enhancements
          ul
            li LCD 16x2 Black & White
            li Custom Cape, IC2 support
            li Temperature Sensor

      section.fullscreen
        .content
          img(src="images/process_lcd.jpg")

      section
        .fullscreen
          img.fillh(src="images/lcd.jpg")

      section
        .fullscreen
        .content
          h2 Slack Integration
          ul
            li Cheap Admin Discovery
            li Temperature Threshold Alerts
            li Keg Volume Alerts
          img(src="images/alerts.png")

      section
        .fullscreen
        .content
          h2 Admin Panel
          ul
            li Simple UI: <span class="alert alert-info">Backbone</span> | <span class="alert alert-info">Bootstrap</span>
            li LowDB <span class="alert alert-detail">JSON</span> files
            li Socket.io <span class="alert alert-info">websockets</span>

      section
        .fullscreen
          img.fillh(src="images/admin_dashboard.png")

      section
        .fullscreen
          img.fillh(src="images/admin_configs.png")

      section
        .fullscreen
          img.fillh(src="images/admin_users.png")

      section
        .fullscreen
        .content
          h2 Challenges
          ul
            li We suck at industrial design
            li Stepping voltage (<span class="alert alert-danger">fried</span> temp sensor)
            li IC2 and Foreign HW
            li RFID/USB <span class="alert alert-warning">Disconnecting</span>
            li Cleaning the Valve
            li <span class="alert alert-detail">Filling</span> Corny Kegs

      section.fullscreen
        .content
          img.fillh(src="images/spigot.jpg")

      section.fullscreen.gplay.tint
        .content
          h2 Lessons
          .mid from
          h2 Use
          .mid (or lack thereof)

      section
        .fullscreen
          x-gif(src='images/perfect_beardscratch.gif' fill stopped)
        .content.bottom
          .box.quote <span class="alert alert-success">Lesson:</span> Change from <span class="alert alert-danger">root</span> user
        .credit cinemagraph thanks to :&nbsp;
          a(href="http://www.gideondevilliers.com") gideon de villiers

      section
        .fullscreen(ui-fx="blur3")
          x-gif(src='images/beerdrink.gif' fill n-times="1" speed="1.5" stopped)
        .content.bottom
          .box.quote <span class="alert alert-success">Lesson:</span> Drink Frequently :)

      section
        .fullscreen
        .content
          h2 Next Steps
          ul
            li Log Rotation
            li Wifi
            li Improve USB/RFID Disconnect Handling
            li Analytics
            li Replace Fried Temp Sensor

      section
        .fullscreen
          img.fillh(src="images/parts.jpg")
        .content
          .box.darken
            h2 Parts
            ul.tight
              li: a(target="ebay", href="http://www.newark.com/element14/bbone-black-4g/beaglebone-black-rev-c-cortex/dp/52X5548?CMP=KNC-GUSA-GEN-SHOPPING-NEW-ELEMENT14&ad=81605889141&gclid=CjwKEAjwubK4BRC1xczKrZyj3mkSJAC6ntgru3xrlhe3PNunJVF3JnYOihhrgXcyFkMfnMyDIMERsxoCAvzw_wcB") Beagle Bone Black
              li: a(target="ebay", href="http://www.ebay.com/itm/New-Blue-IIC-I2C-TWI-1602-16x2-Serial-LCD-Module-Display-for-Arduino-/221439853893?hash=item338ed80545:g:Y~MAAOxycD9TTI1f") LCD
              li: a(target="ebay", href="http://www.ebay.com/itm/10Pcs-L293D-L293-Push-Pull-Four-Channel-Motor-Driver-IC-DIP-16-NEW-GM-/262136736016?hash=item3d08912910:g:h-kAAOSwSHZWe2oz") Push-Pull 4 Channel Motor Driver
              li: a(target="ebay", href="http://www.ebay.com/itm/5pcs-4-Channel-I2C-IIC-Logic-Level-Converter-Module-Bi-Directional-for-Arduino-/201384052982?hash=item2ee36cc8f6:g:SJAAAOSw3ydVm2Z9") I2C IIC Logic Level Converter Module
              li: a(target="ebay", href="http://www.ebay.com/itm/New-ATMEGA328-5V-16Mhz-Replace-ATmega168-For-Arduino-Pro-Mini-Compatible-Nano-/191117208428?hash=item2c7f792b6c:g:-PgAAOxyjxlTNTP8") ATMEGA328
              li: a(target="ebay", href="http://www.ebay.com/itm/5pcs-TMP36GT9-ORIGINAL-Low-Voltage-Temperature-Sensors-NEW-/381374564339?hash=item58cbb207f3:g:5XYAAOSwcwhVKm5O") Temperature Sensors
              li: a(target="ebay", href="http://www.ebay.com/itm/50Pairs-15cm-SM-3Pin-22AWG-Wire-Male-and-Female-Connectors-Pitch-2-54mm-/171927560780?hash=item2807ae624c:g:ZhYAAOSwG-1W1asC") Wire Connectors
              li: a(target="ebay", href="http://www.ebay.com/itm/New-DC12V-1-2-SS304-Motorized-Ball-Valve-CR-05-Electrical-Ball-Valve-US-Stock-/321746225244?hash=item4ae991c85c:g:3lAAAOSwPcJVSDrQ") Motorized Ball Valve
              li: a(target="ebay", href="http://www.ebay.com/itm/One-25ft-Roll-Electrical-Wire-22-Gauge-Solid-Core-22awg-/111943223318?var=&hash=item1a10560816:m:mSMMrphVViaZ6u9KpMr6_qw") Wire
              li: a(target="ebay", href="http://www.ebay.com/itm/5pcs-Double-side-Protoboard-Circuit-Universal-DIY-Prototype-PCB-Board-6x8cm-New-/371389482753?hash=item567889c701:g:3HMAAOSwHnFVrMSr") Protoboard
              li: a(target="ebay", href="http://www.ebay.com/itm/10-Pcs-40Pin-2-54mm-Single-Row-Straight-Female-Pin-Header-for-Arduino-USA-Seller-/181904105863?hash=item2a5a546187:g:jHwAAOSwT6pVlF85") Female Pin Header
              li: a(target="ebay", href="http://www.ebay.com/itm/ATMEL-ATTINY84A-PU-8-Bit-Microcontroller-Low-Power-High-Performance-Attiny-/231792924328?hash=item35f7ef56a8:g:tawAAOSwhkRWe6J9") 8 Bit Microcontroller
              li: a(target="ebay", href="http://www.amazon.com/Perfect-Pour-Chalkboard-Display-Kegerator/dp/B00TOORL1Y/ref=sr_1_4?ie=UTF8&qid=1460611986&sr=8-4&keywords=tap+handle") Chalkboard Tap Handle

      section.fullscreen
        .content
          img.fillh(src="images/flange.jpg")

      section
        .fullscreen(ui-fx="blur3")
          x-gif(src="images/drink.gif" fill stopped speed=".5")
        .content(data-bespoke-state='light')
          div.box.darken
            .mid Questions?
            .line
              .me.center
            h4 \[._.]/ Adam Eivy
            h6 Slides:
              a(href='http://bit.ly/kegiot') &nbsp; bit.ly/kegiot
            h6 Code:
              a(href='https://github.com/atomantic/kegiot') &nbsp; github.com/atomantic/kegiot
            h6 Twitter:
              a(href='https://twitter.com/antic') &nbsp; @antic
            small: a(href='#1') &nbsp; restart

    script(src='scripts/scripts.js')
    link(rel="import" href="x-gif/dist/x-gif.html")
