doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title IoT Kegerator: Kegiot

    link(rel='stylesheet', type='text/css', href='styles/styles.css')

    script.
      if ('registerElement' in document
        && 'createShadowRoot' in HTMLElement.prototype
        && 'import' in document.createElement('link')
        && 'content' in document.createElement('template')) {
        // We're using a browser with native WC support!
      } else {
        document.write('<script src="x-gif/dist/platform.js"><\/script>')
      }

  body
    article
      section
        .fullscreen(ui-fx="blur1")
          x-gif(src="images/drink.gif" fill stopped ping-pong)
        #introtip
        .content#intro
          div.box.darken
            h2
              small KegIoT
            .mid the
            h3
              small DIY IoT Kegerator
            .mid by
            .line
              h4 Adam Eivy <span class="rotate">\[._.]/</span>
                .me.center
            audio#audio(controls,loop)
              source(src="https://archive.org/download/DaftPunkTronLegacyEncomPartIi/DaftPunkTronLegacyEncomPartIi.ogg" type="audio/ogg")
              source(src="https://archive.org/download/DaftPunkTronLegacyEncomPartIi/DaftPunkTronLegacyEncomPartIi.mp3" type="audio/mpeg")

      section
        .content
          h2 Timeline
          ul
            li Oct 2014: Idea
            li June 2015: Let's do this!

      section
        .content
          h2 Investment
          ul
            li ~30 hours across group, Total 90 hours person hrs
            li Worked lunch, nights and 1 whole day (my garage)
            li ~$450 for all hardware including fridge

      section
        .content
          h2 What
          ul
            li Smart IoT Beverage Dispenser
            li Custom Developed Software
            li Mix of BBB and Custom HW
            li Modified Fridge and more
            li All DIY

      section
        .fullscreen
          img.fillh(src="images/usecases.jpg")

      section
        .fullscreen
          x-gif(src='images/perfect_beardscratch.gif' fill stopped)
        .content.bottom
          .box.quote Lesson: Change from <span class="alert alert-danger">root</span> user

      section
        .fullscreen
          x-gif(src='images/beerdrink.gif' fill n-times="1" speed="1.5" stopped)
        .content.bottom
          .box.quote Lesson: Drink up :)

      section
        .fullscreen
          x-gif(src='images/beerdrink.gif' fill n-times="1" speed="1.5" stopped)
        .content.bottom
          .box.quote ..
      section
        .fullscreen(ui-fx="blur1")
          x-gif(src="images/end.gif" fill stopped)
        .content(data-bespoke-state='light')
          div.box.darken
            .mid Thanks!
            .line
              .me.center
            h4 \[._.]/ Adam Eivy
            h6 Slides:
              a(href='http://bit.ly/diykeg') &nbsp; bit.ly/diykeg
            h6 Twitter:
              a(href='https://twitter.com/antic') &nbsp; @antic
            small: a(href='#1') &nbsp; restart

    script(src='scripts/scripts.js')
    link(rel="import" href="x-gif/dist/x-gif.html")
